*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html{
  scroll-behavior: smooth;
}
#inicio {
  background:#f8efb4 ;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
#inicio .contenido header{
background-color: #fff;
position: fixed;
width: 100%;
z-index: 100;
top: 0;
}
#inicio .contenido header .contenido-header{
max-width: 1100px;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
padding:  10px 20px;

}
#inicio .contenido header .contenido-header h1{
text-align: center;
color: #828e44;
}
#inicio .contenido header .contenido-header nav ul{
list-style: none;
display: flex;
align-items: center;

}
#inicio .contenido header .contenido-header nav ul li a{
text-decoration: none;
color: #828e44;
margin: 0 12px;
font-weight: 400;
transition: .5s;
font-size: 18px;
}
#inicio .contenido header .contenido-header nav ul a:hover{
color: rgb(98, 7, 184);
}
#inicio .contenido header .contenido-header .redes a{
text-decoration: none;
color:  #828e44;
display: inline-block;
margin-left: 10px;
transition: .5s;
font-size: 18px;
}
#inicio .contenido header .contenido-header .redes a :hover{
color: rgb(118, 5, 84);
}
#inicio .contenido .presentacion{
max-width: 1100px;
height: 100vh;
margin: auto;
color:  #828e44;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: 18px;

}
#inicio .contenido .presentacion .Bienvenido{
font-size: 18px;
margin-bottom: 20px;
text-transform: uppercase;
letter-spacing: 5px;
}
#inicio .contenido .presentacion h2{
font-size: 40px;
margin-bottom: 15px;
text-align: center;

}
#inicio .contenido .presentacion h2 span{
font-size: 24px;
color: rgb(244, 7, 114);
}
#inicio .contenido .presentacion .descripcion{
max-width: 600px;
margin: 20px auto;
font-size: 16px;
text-align: center;
}
#inicio .contenido .presentacion a{
text-decoration: none;
display: inline-block;
margin: 20px;
padding: 20px 25px;
border: 2px solid rgb(249, 3, 200);
border-radius: 40px;
color:  #828e44;
font-weight: bolder;
text-transform: uppercase;
transition: .10s;
}
#inicio .contenido .presentacion a:hover{
background-color:rgb(179, 186, 244);
}
#inicio-nav{
color: white;
display: none;
}
#sobremi{

max-width: 1100px;
margin: auto;
padding: 100px 15px;
color:  #828e44;
display: flex;
}
#sobremi .contenedor-foto{
max-width: 400px;
margin-right: 80px;
}
#sobremi .contenedor-foto img{
padding: 10px;
width: 100%;
border-radius: 5px;
background-color: #df0af3;
}
#sobremi .sobremi .titulo-seccion{
font-size: 20px;
text-transform: uppercase;
color:  #df0af3;
text-decoration: underline;
text-decoration-color: rgb(223, 189, 214);
text-decoration-skip: 5px;
}
#sobremi .sobremi h2{
font-size: 28px;
font-weight: bold;
margin: 20px 0;
letter-spacing: 2px;

}
#sobremi .sobremi h2 samp{
color: #da60dc;
}
#sobremi .sobremi h3{
font-size: 16px;
font-weight: 500;
text-transform: uppercase;
margin-bottom: 20px;
letter-spacing: 1px;
}
#sobremi .sobremi p{
font-size: 18px;
line-height: 20px;
color: #828e44;
margin-bottom: 12px;
}
#sobremi .sobremi a{
display: inline-block;
text-decoration: none;
color: black;
border-radius: 25px;
padding: 10px 20px;
border: 2px solid rgb(18, 18, 18);
margin-top: 30px;
transition: .5s;
}
#sobremi .sobremi a:hover{
background: #da60dc;
color: white;
}
.education .box-container{ 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  flex-wrap: wrap; 
  padding:1rem 0; 
  padding-left: 3rem; 
  background: #eadb7f;
} 


.education .box-container .box{ 
  width:27rem; 
  margin:4rem  1rem; 
  padding-left: 4rem; 
  border-left: .2rem solid rgb(15, 15, 15); 
  position: relative; 

} 

.education .box-container .box span{ 
  font-size: 1.3rem; 
  background: #da60dc; 
  color: #0d0e0d; 
  border-radius: 4rem; 
  padding:.5rem 2.5rem; 
} 
.education .box-container .box h3{ 
  font-size: 2rem; 
  color: #da60dc; 
  padding-top: 1.5rem; 
} 
.education .box-container .box p{ 
  font-size: 1.4rem; 
  color: #828e44; 
padding: 1rem 0; 
} 

.education .box-container .box i{ 
  position: relative; 
  top:-1.5rem; left:-2.5; 
  height:5rem; 
  width:5rem; 
  border-radius: 50%; 
  line-height: 5rem; 
  text-align: center; 
  font-size: 2rem; 
  color: rgb(149, 8, 123); 
  background: rgb(213, 235, 153); 
}

   


#portafolio{
display: flex;
background-color: #f8efb4;
margin: 1100px;
padding:  100px 0;
margin: auto; 

}
#portafolio .titulo-seccion{

text-align: center;

font-size: 20px;
text-transform: uppercase;
color: rgb(21, 20, 21);
text-decoration: underline;
text-decoration-color: rgb(221, 191, 222);
text-decoration-thickness: 5px;
}
#portafolio .fila {
display: flex;
justify-content: space-around;
margin: 50px 0;
text-align: center;
}
#portafolio .fila .proyecto{
max-width: 450px;
border: 5px solid rgb(186, 172, 172);
margin: 0 10px;
border-radius: 8px;
position: relative;
overflow: hidden;
}
#portafolio .fila .proyecto img{
width: 80%;
height: 80%;


}
#portafolio .fila .proyecto:hover img{

  -webkit-transform:scale(1.3);transform:scale(1.3)


}
#portafolio .fila .proyecto .info{
position: absolute;
left: 0%;
background-color: rgb(175, 221, 187);
width: 100%;
padding: 5px;
opacity: 0;
bottom: -30;
transition: .5s;
}
#portafolio .fila .proyecto:hover .info{
opacity: 1;
bottom: 0;
}
#contacto{
padding: 100px 15px;

background-color: #f4eb9a;
}
#contacto .titulo-seccion{
margin-bottom: 20px;
text-align: center;
font-size: 22px;
text-transform: uppercase;
color: rgb(14, 14, 15);
text-decoration: underline;
text-decoration-color: rgb(152, 10, 121);
text-decoration-thickness: 5s;
}
#contacto .contenedor-form{
max-width: 1100px;
margin: auto;
}
#contacto .contenedor-form .fila{
margin-bottom: 15px;
}
#contacto .contenedor-form .fila .mita{
display: flex;
justify-content: space-between;
}
#contacto .contenedor-form input,
#contacto .contenedor-form textarea{
padding: 20px;
border-radius: 20px;
border: none;
border: 1px solid black;
}
#contacto .contenedor-form .mita input{
width: 48%;
}
#contacto .contenedor-form .input-full{
width: 100%;
}
#contacto .btn-enviar{
display: block;
margin: auto;
cursor: pointer;
transition: .5s;
padding: 10px 15px;
font-style: 18px;
font-weight: bolder;

}
#contacto .btn-enviar:hover{
background-color: rgb(210, 119, 213);
color: white;
}
footer{
background-color: black;
color: wheat;
text-align: center;
padding: 25px 0;
}
footer a{
text-decoration: none;
color: white;
display: inline-block;
margin: 5px;
font-size: 26px;

}

@media (max-width:800px) {
.redes{
  display: none;

}
nav{
  display: none;
}
nav.responsive{
  display: block;
  background-color: blue;
  width: 100%;
  position: absolute;
  top: 48%;
  left: 0px;
  padding: 10px 0 ;
}
nav.responsive ul{
  display: block !important;
  text-align: center;

}
nav.responsive ul li{
  margin: 5px 0;
}
#icono-nave{
  display: block;
}
#inicio .contenido .presentacion h2{
  font-size: 40px;

}
#sobremi{
  padding: 50px 0;
  display: block;
}
#sobremi .contenedor-foto{
  max-width: 200px;
  margin: auto;

}
#sobremi .contenedor-foto img{
padding: 8px;
}
#sobremi .sobremi .titulo-seccion{
  text-align: center;
}
#sobremi .sobremi h2{
  font-size: 20px;
  text-align: center;
}
.education .box-container .box{ 
  width: 100%;
  padding: 50px 20px;
}
#portafolio{
  padding: 50px 0;
}
#portafolio{
  display: block;
}
#portafolio .fila .proyecto{
  margin: 10px auto;
}
#contacto{
  padding: 50px 15px;
}
#contacto .contenedor-form .mitad{
  margin: 15px;
  display: block;
}
#contacto .contenedor-form .mitad input{
  width: 100%;
  margin-bottom: 15px;
}
}